################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/LabTp1/.vs/LabTp1
/.vs
*.filters
*.user
