################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/LabTp1/.vs/LabTp1
/.vs
*.filters
*.user
/LabTp1/LabTp1/x64/Debug
/LabTp1/x64/Debug
/CppProperties.json
